/*
table { font-family: verdana,arial,sans-serif; font-size:11px; color:#333333; border-width: 1px; border-color: #666666; border-collapse: collapse;  }          
table th { border-width: 1px; padding: 8px; border-style: solid; border-color: #666666; background-color: #dedede;    }          
table td { border-width: 1px; padding: 8px; border-style: solid; border-color: #666666; background-color: #ffffff;  }          
    */
	
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
	
footer {
    text-align: center;

    margin: 20px 0;
}



.move-row {
	cursor: move;
	font-size: 1.7em;
	font-weight: none;
}

.footer-menu {
    font-weight: bold;
    color: #337ab7;
    cursor: pointer;
}

.footer-menu-inside {
    font-weight: bold;
    color: #337ab7;
    cursor: pointer;
}


.footer-text, .footer-text:hover  {
    padding: 10px;
    display: none;

}
    
.bold {
    font-weight: bold;
}

.page-header {
    margin-top:15px;
 }
 
 .lang-1 {
	 float: left; 
	 margin: 17px 0px 0px 10px;
 }
 .lang-2 {
	 text-align: right; 
	 margin-top: 17px; 
	 float: right;
 }
 .logo-1 {
	float: left;
 }
 .logo-2 {
	clear:both; 
	text-align:center; 
	width:100%;
 }
 
 .btn-primary {
     background-color:#3b5998;
 }
 
.sos {
     border-top: 2px solid #EF4040; 
     border-bottom: 2px solid #EF4040; 
     border-left: 2px solid #EF4040; 
     padding: 0px 4px;
     border-radius: 5px 0 0 5px;

 }
 
/* alapértelmezetten minden rejtve és ha nem appról megy akkor jqueryvel show()*/
.webview {
    /* display: none; */
}
 
.live {
     color: #fff; 
     background-color:#EF4040;
     padding: 0px 4px;
     border-top: 2px solid #EF4040; 
     border-bottom: 2px solid #EF4040; 
     border-right: 2px solid #EF4040; 
     border-radius: 0 5px 5px 0;

 }
 


h1 > a {
    color:#EF4040;
    
}

 h1 > a:hover {
     text-decoration: none;
     color:#EF4040;
 }
 
 .index-h2 {
	 text-align: center;
 }
 
 #map {
    width: 100%;
    height: 360px;
}

.alert {
    padding:6px; 
    margin-bottom:7px; 
}

.main-nav {
    list-style-type: none;
    vertical-align: middle;
    -webkit-transform-origin: left top;
    -webkit-transform:rotate(-90deg) translateX(-100%);
   height: 300px;
   
   overflow: auto;
    width: 350px;
    height: 200px;
   
}



.glyphicon-info-sign {
	cursor: pointer;
}

ul {    
    margin:0
}

ul.navcoord {    
    margin:0 auto;
    height:100%;  
   
}

ul.navcoord li {    
    list-style:none;
    margin-bottom:3px;
    margin-right: 5px;
    float:right;
    line-height:45px;
    border: 1px solid #aaa;
    border-radius: 5px;
    width:325px;    
    height:45px;
    text-align: center;
    cursor:pointer;
}

ul.navcoord li:hover { 

    background-color: #eee;
}


.a-location {
    font-size: 1.3em;
    cursor: pointer;
    color: #337ab7;
    
}

.a-location:hover {
    text-decoration: none;
}

.coli {
    margin-bottom: 15px;
}

.list-group-item {
    padding: 7px 9px;
}






.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
} 
#pac-input {
    background-color: #fff;
    padding: 0 11px 0 13px;
    width: 170px;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
}
#pac-input:focus {
    border-color: #4d90fe;
    margin-left: -1px;
    padding-left: 14px;
    /* Regular padding-left + 1. */
    width: 170px;
}
.pac-container {
    font-family: Roboto;
}
.gm-fullscreen-control {
 display:none;
}

label {
    font-weight: normal;
}

.dataTables_filter {
    display: none;
}


.search-column {
    width: 140px !important;
}

.paginate_button {
	padding:0 !important;
}


 .phone-android {
         height: 25px;
     }
     
 .little-user {
     font-size: 0.75em;
 }
 
  .index-menu {
      max-width: 330px;
      padding: 15px;
      margin: 0 auto;
       position: relative;
      font-size: 16px;
      height: auto;
      padding: 10px;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
  }
  
  .common-form input,  .common-form select {
        margin: 4px 0;
  }
  
  
    .common-form label , .index-menu label{
        font-size: 0.8em !important;
  }
 
  .error {
	 color: red !important;
	 display: block;
	 font-size: 0.9em;
 }
 
 @media screen and (max-width: 480px){
     input[type=submit] {
        display: block;
        width: 60%;
        margin: 10px auto;
     }
     
     .phone-android {
         height: 25px;
     }
     
  
     
} 



